/* src/Navbar.css */
body {
    margin: 0; /* Loại bỏ margin mặc định của body */
  }
  
  .navbar {
    padding: 5px;
    position: fixed; /* Thanh navbar giữ nguyên ở đầu trang */
    width: 100%; /* Chiều rộng 100% của trang */
    top: 0; /* Đặt ở trên cùng */
    z-index: 1000; /* Đảm bảo hiển thị trên các phần khác của trang */
  }
  
  .nav-list {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  .nav-list li {
    margin-right: 15px;
  }
.home {
  position: relative;
  font-weight:500;
  left: 1300px;
}
  .nav-list li:first-child a {
    position: relative;
    left: 30px;
    font-weight: bold;
  }
  
  .nav-list a {
    text-decoration: none;
    color: black;
  }
  