#puzzle-container {
    display: grid;
    grid-template-columns: repeat(3, 125px);
    grid-template-rows: repeat(3, 125px);
    gap: 5px;
    position: relative;
    left: 200px;
    /* Di chuyển sang phải 20px từ vị trí mặc định */
    top: 80px;
}

.puzzle-piece {
    width: 125px;
    height: 125px;
    background-color:  #bace51;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    user-select: none;
}

.puzzle-piece.empty {
    background-color: #fff;
    /* Màu của ô trống */
    /* color: #3498db; Màu chữ của ô trống */
}

#puzzle-container div {
    border-radius: 5px;
}

.shuffleButton {
    position: absolute;
    top: 450px;
    padding: 10px 20px;
    font-size: 14px;
    margin-right: 10px;
    cursor: pointer;
    /* background-color: #fff;
    color: #fff;
    */
    border: #000; 
    border-radius: 5px;
    width: 160px;  
}
.custom {
    position: absolute;
    top: 450px;
    left: 220px;
    padding: 10px 20px;
    font-size: 14px;
    margin-right: 10px;
    cursor: pointer;
    border: #000; 
    border-radius: 5px;
    width: 160px;
    
}
/* .descript1 {
    position: absolute;
    top: 440px;
    left: 0px;
    font-weight: normal;
    font-size:medium;
} */

.select {
    position: absolute;
    top: 500px;
    left: 0px;
    border-radius: 5px;
    width: 160px;
    height: 35px;
}
.solveButton {
    position: relative;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    background-color: #4a9aaa;
    color: #fff;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 385px;
    left: -260px;
    top: 10px
    
}

.depthLimit {
    position: absolute;
    height: 30px;
    width: 155px;
    top: 500px;
    left: 220px;
    border-radius: 5px;

}
.button:hover {
    
    background-color: #07032b;
}

.button1:hover {
    background-color: #07032b;

}

.modal {
   
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 600px;
    width: 300px; /* Full width */
    height: 100px; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color:#d9ded8;
    border-color:#07032b; 
    padding: 8px 24px;
    border-radius: 3px;
    color: white;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    top: 200px;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 3px;
    width: 80%; /* Could be more or less, depending on screen size */
  }

.title {
    position: relative;
    top: 50px;
}
.last-element {
    position: relative;
    top: 130px; /* Đặt giá trị margin dưới là 20px hoặc giá trị mong muốn */
}