#puzzle-container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  position: relative;
  left: 20px; /* Di chuyển sang phải 20px từ vị trí mặc định */
  top: 80px;
}

.puzzle-piece {
  width: 100px;
  height: 100px;
  background-color: #3498db;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  user-select: none;
}

.puzzle-piece.empty {
  background-color: #fff; /* Màu của ô trống */
  /* color: #3498db; Màu chữ của ô trống */
}

#replayButton {
  margin-top: 10px; /* Add margin to the button */
  background-color: #3498db;
}
  